/.vs/Akca/v17/.suo
/Akca.Api/bin/Debug/net6.0/Akca.Api.deps.json
/Akca.Api/bin/Debug/net6.0/Akca.Api.dll
/Akca.Api/bin/Debug/net6.0/Akca.Api.exe
/Akca.Api/bin/Debug/net6.0/Akca.Api.pdb
/Akca.Api/bin/Debug/net6.0/Akca.Api.runtimeconfig.json
/Akca.Api/bin/Debug/net6.0/appsettings.Development.json
/Akca.Api/bin/Debug/net6.0/appsettings.json
/Akca.Api/bin/Debug/net6.0/Microsoft.OpenApi.dll
/Akca.Api/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/Akca.Api/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Akca.Api/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Akca.Business/bin/Debug/net6.0/Akca.Business.deps.json
/Akca.Business/bin/Debug/net6.0/Akca.Business.dll
/Akca.Business/bin/Debug/net6.0/Akca.Business.pdb
/Akca.Core/bin/Debug/net6.0/Akca.Core.deps.json
/Akca.Core/bin/Debug/net6.0/Akca.Core.dll
/Akca.Core/bin/Debug/net6.0/Akca.Core.pdb
/Akca.DataAccess/bin/Debug/net6.0/Akca.DataAccess.deps.json
/Akca.DataAccess/bin/Debug/net6.0/Akca.DataAccess.dll
/Akca.DataAccess/bin/Debug/net6.0/Akca.DataAccess.pdb
/Akca.Management/bin/Debug/net6.0/Akca.Management.deps.json
/Akca.Management/bin/Debug/net6.0/Akca.Management.dll
/Akca.Management/bin/Debug/net6.0/Akca.Management.exe
/Akca.Management/bin/Debug/net6.0/Akca.Management.pdb
/Akca.Management/bin/Debug/net6.0/Akca.Management.runtimeconfig.json
/Akca.Management/bin/Debug/net6.0/Akca.Management.staticwebassets.runtime.json
/Akca.Management/bin/Debug/net6.0/appsettings.Development.json
/Akca.Management/bin/Debug/net6.0/appsettings.json
/Akca.Teams/bin/Debug/net6.0/Akca.Teams.deps.json
/Akca.Teams/bin/Debug/net6.0/Akca.Teams.dll
/Akca.Teams/bin/Debug/net6.0/Akca.Teams.exe
/Akca.Teams/bin/Debug/net6.0/Akca.Teams.pdb
/Akca.Teams/bin/Debug/net6.0/Akca.Teams.runtimeconfig.json
/Akca.Teams/bin/Debug/net6.0/Akca.Teams.staticwebassets.runtime.json
/Akca.Teams/bin/Debug/net6.0/appsettings.Development.json
/Akca.Teams/bin/Debug/net6.0/appsettings.json
/Akca.Api/obj/Akca.Api.csproj.nuget.dgspec.json
/Akca.Api/obj/Akca.Api.csproj.nuget.g.props
/Akca.Api/obj/Akca.Api.csproj.nuget.g.targets
/Akca.Api/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Akca.Api/obj/Debug/net6.0/Akca.Api.AssemblyInfo.cs
/Akca.Api/obj/Debug/net6.0/Akca.Api.AssemblyInfoInputs.cache
/Akca.Api/obj/Debug/net6.0/Akca.Api.assets.cache
/Akca.Api/obj/Debug/net6.0/Akca.Api.csproj.AssemblyReference.cache
/Akca.Api/obj/Debug/net6.0/Akca.Api.csproj.CopyComplete
/Akca.Api/obj/Debug/net6.0/Akca.Api.csproj.CoreCompileInputs.cache
/Akca.Api/obj/Debug/net6.0/Akca.Api.csproj.FileListAbsolute.txt
/Akca.Api/obj/Debug/net6.0/Akca.Api.dll
/Akca.Api/obj/Debug/net6.0/Akca.Api.GeneratedMSBuildEditorConfig.editorconfig
/Akca.Api/obj/Debug/net6.0/Akca.Api.genruntimeconfig.cache
/Akca.Api/obj/Debug/net6.0/Akca.Api.GlobalUsings.g.cs
/Akca.Api/obj/Debug/net6.0/Akca.Api.MvcApplicationPartsAssemblyInfo.cache
/Akca.Api/obj/Debug/net6.0/Akca.Api.MvcApplicationPartsAssemblyInfo.cs
/Akca.Api/obj/Debug/net6.0/Akca.Api.pdb
/Akca.Api/obj/Debug/net6.0/apphost.exe
/Akca.Api/obj/Debug/net6.0/ref/Akca.Api.dll
/Akca.Api/obj/Debug/net6.0/refint/Akca.Api.dll
/Akca.Api/obj/Debug/net6.0/staticwebassets.build.json
/Akca.Api/obj/project.assets.json
/Akca.Api/obj/project.nuget.cache
/Akca.Api/obj/staticwebassets.pack.sentinel
/Akca.Business/obj/Akca.Business.csproj.nuget.dgspec.json
/Akca.Business/obj/Akca.Business.csproj.nuget.g.props
/Akca.Business/obj/Akca.Business.csproj.nuget.g.targets
/Akca.Business/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Akca.Business/obj/Debug/net6.0/Akca.Business.AssemblyInfo.cs
/Akca.Business/obj/Debug/net6.0/Akca.Business.AssemblyInfoInputs.cache
/Akca.Business/obj/Debug/net6.0/Akca.Business.assets.cache
/Akca.Business/obj/Debug/net6.0/Akca.Business.csproj.AssemblyReference.cache
/Akca.Business/obj/Debug/net6.0/Akca.Business.csproj.CoreCompileInputs.cache
/Akca.Business/obj/Debug/net6.0/Akca.Business.csproj.FileListAbsolute.txt
/Akca.Business/obj/Debug/net6.0/Akca.Business.dll
/Akca.Business/obj/Debug/net6.0/Akca.Business.GeneratedMSBuildEditorConfig.editorconfig
/Akca.Business/obj/Debug/net6.0/Akca.Business.GlobalUsings.g.cs
/Akca.Business/obj/Debug/net6.0/Akca.Business.pdb
/Akca.Business/obj/Debug/net6.0/ref/Akca.Business.dll
/Akca.Business/obj/Debug/net6.0/refint/Akca.Business.dll
/Akca.Business/obj/project.assets.json
/Akca.Business/obj/project.nuget.cache
/Akca.Core/obj/Akca.Core.csproj.nuget.dgspec.json
/Akca.Core/obj/Akca.Core.csproj.nuget.g.props
/Akca.Core/obj/Akca.Core.csproj.nuget.g.targets
/Akca.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Akca.Core/obj/Debug/net6.0/Akca.Core.AssemblyInfo.cs
/Akca.Core/obj/Debug/net6.0/Akca.Core.AssemblyInfoInputs.cache
/Akca.Core/obj/Debug/net6.0/Akca.Core.assets.cache
/Akca.Core/obj/Debug/net6.0/Akca.Core.csproj.AssemblyReference.cache
/Akca.Core/obj/Debug/net6.0/Akca.Core.csproj.CoreCompileInputs.cache
/Akca.Core/obj/Debug/net6.0/Akca.Core.csproj.FileListAbsolute.txt
/Akca.Core/obj/Debug/net6.0/Akca.Core.dll
/Akca.Core/obj/Debug/net6.0/Akca.Core.GeneratedMSBuildEditorConfig.editorconfig
/Akca.Core/obj/Debug/net6.0/Akca.Core.GlobalUsings.g.cs
/Akca.Core/obj/Debug/net6.0/Akca.Core.pdb
/Akca.Core/obj/Debug/net6.0/ref/Akca.Core.dll
/Akca.Core/obj/Debug/net6.0/refint/Akca.Core.dll
/Akca.Core/obj/project.assets.json
/Akca.Core/obj/project.nuget.cache
/Akca.DataAccess/obj/Akca.DataAccess.csproj.nuget.dgspec.json
/Akca.DataAccess/obj/Akca.DataAccess.csproj.nuget.g.props
/Akca.DataAccess/obj/Akca.DataAccess.csproj.nuget.g.targets
/Akca.DataAccess/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Akca.DataAccess/obj/Debug/net6.0/Akca.DataAccess.AssemblyInfo.cs
/Akca.DataAccess/obj/Debug/net6.0/Akca.DataAccess.AssemblyInfoInputs.cache
/Akca.DataAccess/obj/Debug/net6.0/Akca.DataAccess.assets.cache
/Akca.DataAccess/obj/Debug/net6.0/Akca.DataAccess.csproj.AssemblyReference.cache
/Akca.DataAccess/obj/Debug/net6.0/Akca.DataAccess.csproj.CoreCompileInputs.cache
/Akca.DataAccess/obj/Debug/net6.0/Akca.DataAccess.csproj.FileListAbsolute.txt
/Akca.DataAccess/obj/Debug/net6.0/Akca.DataAccess.dll
/Akca.DataAccess/obj/Debug/net6.0/Akca.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/Akca.DataAccess/obj/Debug/net6.0/Akca.DataAccess.GlobalUsings.g.cs
/Akca.DataAccess/obj/Debug/net6.0/Akca.DataAccess.pdb
/Akca.DataAccess/obj/Debug/net6.0/ref/Akca.DataAccess.dll
/Akca.DataAccess/obj/Debug/net6.0/refint/Akca.DataAccess.dll
/Akca.DataAccess/obj/project.assets.json
/Akca.DataAccess/obj/project.nuget.cache
/Akca.Management/obj/Akca.Management.csproj.nuget.dgspec.json
/Akca.Management/obj/Akca.Management.csproj.nuget.g.props
/Akca.Management/obj/Akca.Management.csproj.nuget.g.targets
/Akca.Management/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Akca.Management/obj/Debug/net6.0/Akca.Management.AssemblyInfo.cs
/Akca.Management/obj/Debug/net6.0/Akca.Management.AssemblyInfoInputs.cache
/Akca.Management/obj/Debug/net6.0/Akca.Management.assets.cache
/Akca.Management/obj/Debug/net6.0/Akca.Management.csproj.AssemblyReference.cache
/Akca.Management/obj/Debug/net6.0/Akca.Management.csproj.CoreCompileInputs.cache
/Akca.Management/obj/Debug/net6.0/Akca.Management.csproj.FileListAbsolute.txt
/Akca.Management/obj/Debug/net6.0/Akca.Management.dll
/Akca.Management/obj/Debug/net6.0/Akca.Management.GeneratedMSBuildEditorConfig.editorconfig
/Akca.Management/obj/Debug/net6.0/Akca.Management.genruntimeconfig.cache
/Akca.Management/obj/Debug/net6.0/Akca.Management.GlobalUsings.g.cs
/Akca.Management/obj/Debug/net6.0/Akca.Management.MvcApplicationPartsAssemblyInfo.cache
/Akca.Management/obj/Debug/net6.0/Akca.Management.pdb
/Akca.Management/obj/Debug/net6.0/Akca.Management.RazorAssemblyInfo.cache
/Akca.Management/obj/Debug/net6.0/Akca.Management.RazorAssemblyInfo.cs
/Akca.Management/obj/Debug/net6.0/apphost.exe
/Akca.Management/obj/Debug/net6.0/ref/Akca.Management.dll
/Akca.Management/obj/Debug/net6.0/refint/Akca.Management.dll
/Akca.Management/obj/Debug/net6.0/scopedcss/bundle/Akca.Management.styles.css
/Akca.Management/obj/Debug/net6.0/scopedcss/projectbundle/Akca.Management.bundle.scp.css
/Akca.Management/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/Akca.Management/obj/Debug/net6.0/staticwebassets.build.json
/Akca.Management/obj/Debug/net6.0/staticwebassets.development.json
/Akca.Management/obj/project.assets.json
/Akca.Management/obj/project.nuget.cache
/Akca.Management/obj/staticwebassets.pack.sentinel
/Akca.Teams/obj/Akca.Teams.csproj.nuget.dgspec.json
/Akca.Teams/obj/Akca.Teams.csproj.nuget.g.props
/Akca.Teams/obj/Akca.Teams.csproj.nuget.g.targets
/Akca.Teams/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Akca.Teams/obj/Debug/net6.0/Akca.Teams.AssemblyInfo.cs
/Akca.Teams/obj/Debug/net6.0/Akca.Teams.AssemblyInfoInputs.cache
/Akca.Teams/obj/Debug/net6.0/Akca.Teams.assets.cache
/Akca.Teams/obj/Debug/net6.0/Akca.Teams.csproj.AssemblyReference.cache
/Akca.Teams/obj/Debug/net6.0/Akca.Teams.csproj.CoreCompileInputs.cache
/Akca.Teams/obj/Debug/net6.0/Akca.Teams.csproj.FileListAbsolute.txt
/Akca.Teams/obj/Debug/net6.0/Akca.Teams.dll
/Akca.Teams/obj/Debug/net6.0/Akca.Teams.GeneratedMSBuildEditorConfig.editorconfig
/Akca.Teams/obj/Debug/net6.0/Akca.Teams.genruntimeconfig.cache
/Akca.Teams/obj/Debug/net6.0/Akca.Teams.GlobalUsings.g.cs
/Akca.Teams/obj/Debug/net6.0/Akca.Teams.MvcApplicationPartsAssemblyInfo.cache
/Akca.Teams/obj/Debug/net6.0/Akca.Teams.pdb
/Akca.Teams/obj/Debug/net6.0/Akca.Teams.RazorAssemblyInfo.cache
/Akca.Teams/obj/Debug/net6.0/Akca.Teams.RazorAssemblyInfo.cs
/Akca.Teams/obj/Debug/net6.0/apphost.exe
/Akca.Teams/obj/Debug/net6.0/ref/Akca.Teams.dll
/Akca.Teams/obj/Debug/net6.0/refint/Akca.Teams.dll
/Akca.Teams/obj/Debug/net6.0/scopedcss/bundle/Akca.Teams.styles.css
/Akca.Teams/obj/Debug/net6.0/scopedcss/projectbundle/Akca.Teams.bundle.scp.css
/Akca.Teams/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/Akca.Teams/obj/Debug/net6.0/staticwebassets.build.json
/Akca.Teams/obj/Debug/net6.0/staticwebassets.development.json
/Akca.Teams/obj/project.assets.json
/Akca.Teams/obj/project.nuget.cache
/Akca.Teams/obj/staticwebassets.pack.sentinel
